<div class="content shadow-sm p-3 mb-5">
  <div class="header">
    <div><b>{{header.curso}}</b></div>
    <div><b>{{header.uc}}</b></div>
    <div><b>{{header.matriz}}</b></div>
    <div><b>{{header.nivel}}</b></div>
  </div>

  <div *ngFor="let item of item.cabecalho">
    <div class="textCab" *ngIf="item.type == 'text'">
      <div style="margin-left: 20px;" [innerHTML]="item.conteudo"></div>
    </div>
    <div class="imgCab" *ngIf="item.type == 'image'">
      <img width="200" height="200" [src]="item.conteudo">
    </div>
  </div>

  <div class="row w-100" *ngFor="let item of item.alternativas">
    <b style="margin-left: 20px;" [ngClass]="{'checked': item.gabarito}">{{item.alternativa}}</b><!--  <i [ngClass]="{'fas fa-envelope': item.idType === 1}" id=icon-contact></i> -->
    <div class="form-check">
      <div style="margin-left: 20px;" [innerHTML]="item.conteudo"></div>
      <span class="fill-control-indicator"></span>
    </div>
  </div>

  <!--   <div class="save">
    <button type="submit" class="btn btn-primary btn-sm">SALVAR ITEM</button>
  </div> -->
  <!--     <div class="row margin25">

    <div class="col-md-4">
      <div class="input-group-prepend">
        <span class="input-group-text upload" (click)="showImage()" id="btnUpload">Show</span>
      </div>

    </div>
    <div class="col-md-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text upload" (click)="upload()" id="btnUpload">Upload</span>
        </div>
        <div class="custom-file">
          <form action="/api/upload" method="post" enctype="multipart/form-data">
            <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01">
          </form>
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img width="600" height="400" [src]="imagemTest">
    </div>
  </div> -->
</div>