
.title{
    text-align: center;
    font-size: 25px;
    color: #299885;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:10px;
}
.logo{
    align-self: center
}