<footer class="footer fixed-bottom">
  <div class="footer-inner">
    <div class="container ">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer-note">
            Serviço
            Nacional de Aprendizagem Industrial - Rod. Admar Gonzaga, 2765 -
            Florianópolis/SC - 88034-001 - Fone: 48 3231 4100 - 0800 48 1212
          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2 ">

          <div class="row ">
            <img class="footer-logo-img" src="../../../assets/img/senai-logo-branco.png" alt="">
          </div>

          <div class="row">
            <div>
              <a class="footer-social">Facebook</a>
          
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</footer>