.footer {
  background-color: #299885;
}
.footer-note{
    text-align: left;
    color:white;
    font-size: 15px;
    font-family: roboto;
    
}
.footer-inner{
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-logo-img{
    width: 149px;
    height: 33px;
    margin: 5px;
    align-self: center;

}
.footer-social{
    background-color: white;
    
}